body{
    background-image: url(https://th.bing.com/th/id/R.cdeb250614ca1914982405bd6dc7b0ec?rik=4BWWrMO6E8egmQ&pid=ImgRaw&r=0);
    display: flex;
    justify-content: center ;
    align-items: center;
    min-height: 100vh;
}
.container{
    border: 2px solid rgba(255, 255, 255, .2);
    width: 420px;
    display: flex; 
    justify-content: center;
    backdrop-filter: blur(20px);
    padding-bottom:40px ;
    border-radius: 20px;
}
.form-row{
    padding: 10px;
    position: relative;
    max-width: 500px;
}
.form-label{
    min-width: 90px;
}
.form-btn{
    display: flex ;
    justify-content: center;
    margin-top: 20px;
    
}
.form-input {
    text-indent: 35px;
    color: #fff;
    margin-top:10px ;
    width: 390px;
    height: 30px;
    border-radius: 20px;
    background: transparent;
    outline: none;
    background-color: rgba(255, 255, 255, );
}
.form{
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.form-btn{
    width: 100%;
}
button{
 width: 300px;
 height: 30px;
 border-radius: 20px;
 background: transparent;
 color: #fff;
}

.form-a{
    margin: 30px;
}
.eye{
    position: absolute;
    right: 20px;
    top: 57%;
    transform: translateY(-50%);
    cursor: pointer;
    max-width: 20px;
}
.hidden{
    display: none;
}
.lock{
    position: absolute;
    left: 20px;
    top: 57%;
    transform: translateY(-50%);
    cursor: pointer;
    max-width: 20px;
}