.fistName1{
    color: orange;
    
}
.fistName2{
    color: rgb(41, 166, 201);
 
}
.login{
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom:10px ;
    margin-inline: 60px;
    border:3px solid rgba(0, 0, 0,0.5);
    border-radius: 20px;
    width: 200px;

}
.form{
    width: 300px;
    height: 400px;
    border: 5px solid rgba(255,255,255,0.3) ;
    border-radius: 20px;
    text-align:center;
    margin-inline: 600px;
    margin-block: 200px;

}
body{
    background-image: url(https://thietbiketnoi.com/wp-content/uploads/2020/01/tong-hop-hinh-nen-background-vector-designer-dep-do-phan-giai-fhd-2k-4k-moi-nhat-4.jpg);
}
label{
    color: rgb(41, 166, 201 );
}
.link{
    margin-block: 10px;
    text-align: center;
    
}
button{
    width: 100px;
    height: 30px;
    background-color: rgb(145, 219, 240);
    margin-block: 40px;
    border-radius: 10px;
    border:1px solid white;
    position: relative;
    top: 30px;
}
button:hover{
    font-size: 15px;
    background-color: rgb(35, 101, 172);
}
 #radi{
    accent-color: red;
 }
 button:active{
    font-size: 15px;
    background-color: rgb(26, 75, 126);
 }