*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    width: 200px;
    height: 200px;
    background-color: brown;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #fff;
}
.box1{
    background-color: aqua;
    grid-column: 1/2;
}
.box3{
    background-color: blue;
}
.box4{
    background-color: chocolate;
}
.box5{
    background-color: chartreuse;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;

}
