.container{
   padding: 50px;
   width: 300px;
   background-color: #fff;
}
:root{
    --padding:20px
}
.form-row {
    padding: var(--padding);

}
.form-btn{
    padding: var(--padding);
}
body{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}